body {
 position: absolute;
 background-color: DarkBlue;
 color: #FFFFFF; 
}
p {
 text-align: left;
 font: 16px sans-serif;
}
img {
 border: 0px;
}
a {
 color: yellow;
 text-decoration: none;
}
table.left {
  width: 500px;
  margin-bottom: 30px;
}
table.right {
  width: 690px;
}
table.legend {
  margin-top: 16px;
  font-size: 10px;
}
table {
  border: 0px;
  font-size: 13px;
  font-family: sans-serif;
}
tr {
  background-color: #bbbbbb;
  color: black;
}
td.vlifr {
  background-color: #ff00ff;
  color: black;
}
td.lifr {
  background-color: #8c6258;
  color: black;
}
td.ifr1 {
  background-color: #f00;
  color: black;
}
td.ifr2 {
  background-color: #ff0;
  color: black;
}
td.mvfr1 {
  background-color: #505fff;
  color: black;
}
td.mvfr2 {
  background-color: #6293ec;
  color: black;
}
td.vfr1 {
  background-color: #15ae01;
  color: black;
}
td.vfr2 {
  background-color: #084200;
  color: white;
}
td.vfr3 {
  background-color: #9F9;
  color: black;
}
td.tafmetar {
  font-family: monospace;
}
td.catname {
  text-align: center;
  font-weight: bold;
  width: 50px;
}
td.legend {
  padding: 2px;
  text-align: center;
}
td.num {
  text-align: center;
}
td {
  padding: 3px;
}
p.disclaimer {
  text-decoration: none;
  font-size: 10px;
}
div.left {
  position: absolute;
  width: 500px;
}
div.right {
  position: fixed;
  left: 520px;
  width: 720px;
  height: 650px;
  overflow-y: scroll;
}
p#tafTitle,p#metarTitle {
  text-align: center;
  background-color: #bbbbbb;
  color: black;
  font-size: 13px;
  margin-bottom: 5px;
  border: 0px;
}

p#metarTitle {
  /* same width as TAF table */
  width: 690px;
}
